body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.element-xml{
  display: none;
}

.mediator{
  padding: 10px;
  font-weight: normal;
  margin: 10px auto;
  font-size: 12px;
  position: relative;
   box-sizing: border-box;
   border-width: 2px;
   border-radius: 2px;
}

.mediator img{
  width:50px;
  height:50px;
}

.mediator .mediator{
  width:100%;

}

.mediator-icon{
  width:75px;
  margin: auto;
  padding: 5px 0;
  box-shadow: 0 0 1px 1px black;
}
