body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

pre{
  text-align: justify;
  background: #dcdcdc;
  border:2px solid gray;
  padding: 1em;
  margin: 5px;
  border-radius: 2px;
  overflow: scroll;
}

.element-xml{
  display: none;
}

.mediator{
  padding: 10px;
  border:1px solid;
  font-weight: normal;
  margin: 10px auto;
  min-width: 300px;
  font-size: 12px;
  position: relative;
   box-sizing: border-box;
   border-width: 2px;
   border-radius: 2px;
}

.mediator img{
  width:50px;
  height:50px;
}

.mediator .mediator{
  width:100%;

}

.mediator-icon{
  width:75px;
  margin: auto;
  padding: 5px 0;
  box-shadow: 0 0 1px 1px black;
}

.mediator-sequence{
  background-color: rgba(0, 120, 201, 0.1);
}

.mediator-label{
  font-weight: bold;
}

.mediator-property{
  background: #ccccff;
  border-color: #86869e;
}

.mediator-log{
  background: #ffff57;
  border-color: #c1c100;
}

.mediator-call,.mediator-send{
  background: #60ea60;
  border-color: #228e22;
}
.mediator-name{
  text-decoration: underline;
  position: absolute;
  top: 15px;
  right: 15px;
}



.mediator-filter-condition{
  border:1px solid;
  margin-top:1em;
  padding: 1em;
  background: pink;
  font-weight: bold;
}

.mediator-filter-actions{
  display: table;
}
.mediator-filter-actions-row{
  display: table-row;
}
.mediator-filter-action{
  width:50%;
  display: table-cell;;
  min-width: 200px;
}
.mediator-filter-action-arrow{

  text-align: center;
}

.mediator-filter-then{
  background: #e6ffe6;

}
.mediator-filter-else{
  background: #ffe9e9;
}
